@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><b>WELCOME TO BAKERY <centre>MANAGEMENT SYSTEM</centre></b></h1>
    <p class="lead">->SHALOOM PAUL <br />->SYED MUZAMMIL WASEEM <br />->JUNAID KHAN<br /></p>

</div>

